AliExpress Deals to Postgres (Affiliate API).json
{
  "name": "AliExpress Deals → Postgres (Affiliate API) v1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "n-schedule",
      "name": "Every 6 hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -11400,
        2384
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "aliGatewayUrl",
              "value": "https://api-sg.aliexpress.com/sync",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "aliAppKey",
              "value": "",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "aliAppSecret",
              "value": "",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "aliTrackingId",
              "value": "",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "aliSignMethod",
              "value": "sha256",
              "type": "string"
            },
            {
              "id": "a6",
              "name": "aliTimestampFormat",
              "value": "ms",
              "type": "string"
            },
            {
              "id": "a7",
              "name": "aliApiVersion",
              "value": "2.0",
              "type": "string"
            },
            {
              "id": "a8",
              "name": "aliTargetCurrency",
              "value": "USD",
              "type": "string"
            },
            {
              "id": "a9",
              "name": "aliTargetLanguage",
              "value": "EN",
              "type": "string"
            },
            {
              "id": "a10",
              "name": "aliShipToCountry",
              "value": "US",
              "type": "string"
            },
            {
              "id": "a11",
              "name": "aliCategoryIds",
              "value": "",
              "type": "string"
            },
            {
              "id": "a12",
              "name": "aliKeywords",
              "value": "",
              "type": "string"
            },
            {
              "id": "a13",
              "name": "aliSort",
              "value": "",
              "type": "string"
            },
            {
              "id": "a14",
              "name": "aliPageSize",
              "value": 50,
              "type": "number"
            },
            {
              "id": "a15",
              "name": "openrouterModel",
              "value": "openrouter/owl-alpha",
              "type": "string"
            },
            {
              "id": "a16",
              "name": "openrouterReferer",
              "value": "https://example.com",
              "type": "string"
            },
            {
              "id": "a17",
              "name": "openrouterAppName",
              "value": "Your Site",
              "type": "string"
            },
            {
              "id": "a18",
              "name": "classifierConfidenceThreshold",
              "value": 0.6,
              "type": "number"
            },
            {
              "id": "a19",
              "name": "defaultCategoryId",
              "value": "8efcfba1-ef71-41cd-a533-2d92dd152ac7",
              "type": "string"
            },
            {
              "id": "a20",
              "name": "s3Bucket",
              "value": "awsbucket",
              "type": "string"
            },
            {
              "id": "a21",
              "name": "maxDealsPerRun",
              "value": 5,
              "type": "number"
            },
            {
              "id": "a22",
              "name": "throttleSec",
              "value": 2,
              "type": "number"
            },
            {
              "id": "a23",
              "name": "overrideAiFields",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "a24",
              "name": "aiRateLimitSeconds",
              "value": 1500,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "n-config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -11200,
        2384
      ],
      "notes": "Non-secret config + AliExpress app credentials. SECRET-IN-FILE TRADEOFF: aliAppKey / aliAppSecret / aliTrackingId live here because the signing Code nodes cannot read the credentials manager and $env is unavailable on this n8n plan (same tradeoff as the SP-API variant lwa* keys). Treat them as rotatable secrets. OpenRouter / S3 / Postgres keys stay in their credentials. Default gateway api-sg.aliexpress.com/sync expects epoch-ms timestamps (aliTimestampFormat=ms) + sha256 (HMAC) signing; switch to md5 / datetime if the gateway rejects the signature. Tune aliCategoryIds / aliKeywords / aliSort to target deals."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, COALESCE(eyebrow, '') AS description\nFROM categories\nORDER BY name ASC;",
        "options": {}
      },
      "id": "n-fetch-cats",
      "name": "Fetch Categories",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -11000,
        2384
      ],
      "credentials": {
        "postgres": {
          "id": "Pp8DqRRvEdB44B6i",
          "name": "Every Offer DB"
        }
      },
      "notes": "One row per category. Reused via $('Fetch Categories').all() in Build Classifier Request."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, COALESCE(description, '') AS description\nFROM subcategories\nORDER BY name ASC;",
        "options": {}
      },
      "id": "n-fetch-subcats",
      "name": "Fetch Subcategories",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -10800,
        2384
      ],
      "credentials": {
        "postgres": {
          "id": "Pp8DqRRvEdB44B6i",
          "name": "Every Offer DB"
        }
      },
      "notes": "NEW: Loads subcategories table so AI-generated subcategory name can be resolved to subcategory_id (uuid). Adjust column names if schema differs."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "n-loop",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -10200,
        2384
      ],
      "notes": "Output 0 = done (end of run). Output 1 = loop body, processes one ASIN at a time."
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────────────────────\n// Normalise (AliExpress affiliate product → products shape)\n// Mirrors the Amazon/eBay Normalise contract: emits { valid, product, ... } plus a\n// top-level 'asin' alias (= product_id) so every reused downstream node that reads\n// norm.asin / norm.imageUrl / norm.product keeps working unchanged.\n// ─────────────────────────────────────────────────────────────────────────────\nconst cfg = $('Config').first().json;\nconst inp = $input.first().json; // { product_id, p } from Fetch Product Detail\nconst productId = String(inp.product_id || '');\nconst p = inp.p || {};\n\nconst fail = (reason) => [{ json: { valid: false, skipReason: reason, asin: productId, productId } }];\n\nif (!productId) return fail('no product_id');\nconst name = p.product_title || p.subject || p.title;\nif (!name) return fail('product has no title');\n\n// ── Helpers ───────────────────────────────────────────────────────────────────\nconst slugify = (s) => String(s || '').toLowerCase().normalize('NFKD').replace(/[\\u0300-\\u036f]/g, '').replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '').slice(0, 80);\nconst clamp = (n, lo, hi) => Math.max(lo, Math.min(hi, n));\nconst round2 = (n) => Math.round(n * 100) / 100;\nconst parsePrice = (v) => { if (v == null) return null; if (typeof v === 'number') return v; const m = String(v).replace(/,/g, '').match(/[\\d]+(?:\\.[\\d]+)?/); return m ? Number(m[0]) : null; };\nconst httpsify = (u) => { if (!u) return null; let s = String(u).trim(); if (s.startsWith('//')) s = 'https:' + s; else if (s.startsWith('http://')) s = 'https://' + s.slice(7); return s; };\nconst CURRENCIES = ['USD', 'GBP', 'EUR', 'CAD', 'AUD'];\n\n// ── Currency ────────────────────────────────────────────────────────────────\nlet currency = p.target_sale_price_currency || p.sale_price_currency || cfg.aliTargetCurrency || 'USD';\nif (!CURRENCIES.includes(currency)) currency = 'USD';\n\n// ── Price (+ first-valid-price fallback, shared across the loop) ──────────────\nlet price = parsePrice(p.target_sale_price != null ? p.target_sale_price : p.sale_price);\nlet originalPrice = parsePrice(p.target_original_price != null ? p.target_original_price : p.original_price);\nlet discountPct = 0;\nif (p.discount != null) { const m = String(p.discount).match(/(\\d+)/); if (m) discountPct = Math.round(Number(m[1])); }\nlet priceFallback = false;\n\nconst store = $getWorkflowStaticData('global');\nif (store.priceRunId !== $execution.id) { store.priceRunId = $execution.id; store.firstValidPrice = null; store.firstValidCurrency = null; }\nif (price != null) {\n  if (store.firstValidPrice == null) { store.firstValidPrice = price; store.firstValidCurrency = currency; }\n} else if (store.firstValidPrice != null) {\n  price = store.firstValidPrice; currency = store.firstValidCurrency || currency; originalPrice = null; discountPct = 0; priceFallback = true;\n  console.log(JSON.stringify({ event: 'price_fallback', asin: productId, borrowedPrice: price, currency, ts: new Date().toISOString() }));\n} else {\n  return fail('price_unresolved_no_fallback');\n}\nif (!priceFallback && !discountPct && price && originalPrice && originalPrice > price) {\n  discountPct = Math.round(((originalPrice - price) / originalPrice) * 100);\n}\n\n// ── Affiliate URL (prefer the tracked promotion_link) ─────────────────────────\nconst affiliateUrl = httpsify(p.promotion_link) || httpsify(p.product_detail_url);\nif (!affiliateUrl || !affiliateUrl.startsWith('https://')) return fail('affiliate_url missing/non-https');\nif (!p.promotion_link) {\n  console.warn(JSON.stringify({ event: 'affiliate_url_not_tracked', asin: productId, note: 'set aliTrackingId + enrol AliExpress affiliate to get a tracked promotion_link', ts: new Date().toISOString() }));\n}\n\n// ── Image ─────────────────────────────────────────────────────────────────────\nlet small = p.product_small_image_urls;\nif (small && small.string) small = small.string;\nconst firstSmall = Array.isArray(small) ? small[0] : small;\nconst imageUrl = httpsify(p.product_main_image_url || firstSmall);\nif (!imageUrl) return fail('no image URL');\n\n// ── Brand (affiliate API has no brand → first word of title, like Amazon/eBay) ─\nlet brand = (typeof name === 'string' ? name.split(/\\s+/)[0] : '') || 'AliExpress';\n\n// ── Seller + condition (reused DB columns) ────────────────────────────────────\nconst seller = (p.shop_name || p.store_name) ? String(p.shop_name || p.store_name).slice(0, 120) : null;\nconst condition = 'New'; // AliExpress lists new goods\n\n// ── Rating: evaluate_rate \"90.5%\" → 0..5 ──────────────────────────────────────\nlet rating = 0;\nif (p.evaluate_rate != null) { const m = String(p.evaluate_rate).match(/[\\d.]+/); if (m) rating = Math.round(clamp(Number(m[0]) / 20, 0, 5) * 10) / 10; }\nelse if (p.avg_evaluation_rating != null) { rating = Math.round(clamp(Number(p.avg_evaluation_rating), 0, 5) * 10) / 10; }\n\n// ── Tags / slug / image key ───────────────────────────────────────────────────\nconst tags = [p.first_level_category_name, p.second_level_category_name].map((s) => String(s || '').trim()).filter(Boolean);\nconst shortDesc = String(name).slice(0, 200);\nconst slug = slugify(name) + '-' + productId.toLowerCase();\nconst title = String(name).slice(0, 120);\nconst imageKey = 'products/aliexpress/' + productId + '/main.jpg';\n\nconsole.log(JSON.stringify({ event: 'url_validated', asin: productId, affiliate_url: affiliateUrl, tracked: !!p.promotion_link, ts: new Date().toISOString() }));\n\nreturn [{\n  json: {\n    valid: true, skipReason: null, priceFallback,\n    asin: productId, productId,\n    slug, imageUrl, imageKey, imageDim: 800, imageAlt: title,\n    product: {\n      slug,\n      title,\n      brand: String(brand || '').slice(0, 80),\n      short_description: shortDesc,\n      description: '',\n      price: round2(price),\n      original_price: originalPrice != null ? round2(originalPrice) : null,\n      currency,\n      discount_percent: discountPct,\n      deal_label: null,\n      affiliate_source: 'aliexpress',\n      amazon_affiliate_tag: null,\n      affiliate_url: affiliateUrl,\n      seller,\n      condition,\n      rating,\n      features: [],\n      tags,\n      pros: [],\n      cons: [],\n      subcategory_id: null,\n      seo_title: null,\n      seo_description: null,\n      seo_og_image: null,\n      expires_at: null,\n    },\n  },\n}];\n"
      },
      "id": "n-normalise",
      "name": "Normalise",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9800,
        2544
      ],
      "notes": "AliExpress affiliate product → products shape. affiliate_source='aliexpress'; affiliate_url = tracked promotion_link (falls back to product_detail_url, logged). condition='New'; seller from shop name when present; rating from evaluate_rate %. Same skip-and-continue + first-valid-price fallback as eBay; emits the asin alias so the reused spine works unchanged."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n-filter",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -9600,
        2544
      ],
      "notes": "v3.1: replaces the old Filter (which DROPPED invalid items and stalled the loop — the loop-back edge never fired, halting the run). TRUE (valid) → Check Existing AI Fields. FALSE (skipReason set) → Log Skipped Item → back to Loop Over Items, so the queue always advances."
    },
    {
      "parameters": {
        "jsCode": "// Log Skipped Item (v3.1) — audit trail for items the workflow skips.\n// Reached only on the FALSE branch of 'Is Valid?' (unavailable, no price to borrow,\n// no brand, no image, bad URL, etc.). Connects back to Loop Over Items so the run\n// continues to the next ASIN instead of terminating.\nconst item = $input.first().json;\nconst entry = {\n  event:  'item_skipped',\n  asin:   item.asin ?? null,\n  reason: item.skipReason ?? 'unknown',\n  ts:     new Date().toISOString(),\n};\nconsole.log(JSON.stringify(entry));\nreturn [{ json: { ...item, _skipped: true, _log: entry } }];\n"
      },
      "id": "n-log-skip",
      "name": "Log Skipped Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9400,
        2704
      ],
      "notes": "v3.1: NEW. Structured 'item_skipped' log (asin + reason + timestamp) for auditing, then loops back to Loop Over Items."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- v3.2: single-row seed LEFT JOIN-ed to products so this ALWAYS returns exactly\n-- one row. A new product (no match) yields found=false and every has_*=false —\n-- previously WHERE slug=$1 returned 0 rows, the node emitted no items, and the\n-- whole loop body halted at this node.\nSELECT\n  (p.slug IS NOT NULL)                                                       AS found,\n  COALESCE(p.subcategory_id IS NOT NULL, false)                              AS has_subcategory_id,\n  COALESCE(array_length(p.pros, 1) > 0, false)                               AS has_pros,\n  COALESCE(array_length(p.cons, 1) > 0, false)                               AS has_cons,\n  COALESCE(p.seo_title IS NOT NULL AND p.seo_title <> '', false)             AS has_seo_title,\n  COALESCE(p.seo_description IS NOT NULL AND p.seo_description <> '', false)  AS has_seo_description\nFROM (SELECT $1::text AS slug) q\nLEFT JOIN products p ON p.slug = q.slug;",
        "options": {
          "queryReplacement": "={{ [$json.product.slug] }}"
        }
      },
      "id": "n-check-ai",
      "name": "Check Existing AI Fields",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -9400,
        2544
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Pp8DqRRvEdB44B6i",
          "name": "Every Offer DB"
        }
      },
      "notes": "v3.2: query rewritten to ALWAYS return exactly one row (single-row seed LEFT JOIN products) so new products no longer halt the loop here. found=false + has_*=false for new products → Compute AI Gate sets skipAi=false → AI runs. alwaysOutputData:true is an extra safety net."
    },
    {
      "parameters": {
        "jsCode": "// ── AI Gate Decision ─────────────────────────────────────────────────────────\n// Reads the DB check result and the overrideAiFields config flag.\n// Sets skipAi=true when all 5 AI fields are already populated AND override is off.\nconst cfg    = $('Config').first().json;\nconst norm   = $('Is Valid?').first().json;\nconst dbRows = $input.all();     // 0 rows = new product, 1 row = existing\n\nconst override = cfg.overrideAiFields === true;\n\nlet allPopulated = false;\nif (dbRows.length > 0) {\n  const r = dbRows[0].json;\n  allPopulated = r.has_subcategory_id && r.has_pros && r.has_cons && r.has_seo_title && r.has_seo_description;\n}\n\nconst skipAi = allPopulated && !override;\n\nconsole.log(JSON.stringify({\n  event: 'ai_gate', asin: norm.asin,\n  allPopulated, override, skipAi,\n  ts: new Date().toISOString(),\n}));\n\nreturn [{ json: { ...norm, skipAi } }];\n"
      },
      "id": "n-ai-gate-code",
      "name": "Compute AI Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9200,
        2544
      ],
      "notes": "NEW: Merges DB-populated check + overrideAiFields flag into a single skipAi boolean."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "conditions": [
            {
              "id": "skip",
              "leftValue": "={{ $json.skipAi }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n-ai-gate-if",
      "name": "AI Fields Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -9000,
        2544
      ],
      "notes": "NEW: true-output (skipAi=false) → AI enrichment branch. false-output (skipAi=true) → bypass branch."
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────────────────────\n// Build AI Enrichment Request\n// Single OpenRouter call for: subcategory name, pros[], cons[], seo_title, seo_description.\n// subcategory is sent as a NAME here; resolved to a uuid in Parse & Validate AI Fields.\n// ─────────────────────────────────────────────────────────────────────────────\nconst cfg     = $('Config').first().json;\nconst norm    = $input.first().json;\nconst product = norm.product;\n\n// Build the list of available subcategory names for the prompt\nconst subcatRows = $('Fetch Subcategories').all().map(i => i.json);\nconst subcatNames = subcatRows\n  .filter(r => r?.name)\n  .map(r => String(r.name).trim())\n  .slice(0, 80);    // cap prompt length\n\nconst featureBullets = Array.isArray(product.features) ? product.features : [];\nconst tags           = Array.isArray(product.tags)     ? product.tags     : [];\n\nconst productContext = [\n  `Title: ${product.title}`,\n  `Brand: ${product.brand}`,\n  product.condition ? `Condition: ${product.condition}` : null,\n  product.short_description ? `Short description: ${product.short_description}` : null,\n  product.description       ? `Full description: ${String(product.description).slice(0,500)}` : null,\n  featureBullets.length     ? `Key features:\\n${featureBullets.slice(0,8).map(f=>`- ${f}`).join('\\n')}` : null,\n  tags.length               ? `Category breadcrumbs: ${tags.slice(0,5).join(' > ')}` : null,\n  `Price: ${product.currency} ${product.price}`,\n  product.original_price    ? `Original price: ${product.currency} ${product.original_price}` : null,\n  product.rating            ? `Average rating: ${product.rating}/5` : null,\n].filter(Boolean).join('\\n');\n\nconst subcatSection = subcatNames.length\n  ? `Available subcategories (choose the single best fit; use exact spelling):\\n${subcatNames.map(n=>`- ${n}`).join('\\n')}`\n  : 'No subcategory list available — infer the most appropriate retail subcategory name.';\n\nconst systemPrompt = [\n  'You are a product data enrichment assistant for an affiliate e-commerce site.',\n  'Return ONLY this JSON object — no prose, no markdown fences:',\n  '{',\n  '  \"subcategory\": \"<exact name from the list, or best-fit retail subcategory>\",',\n  '  \"pros\": [\"<advantage 1>\", \"<advantage 2>\", \"<advantage 3>\"],',\n  '  \"cons\": [\"<disadvantage 1>\", \"<disadvantage 2>\", \"<disadvantage 3>\"],',\n  '  \"seo_title\": \"<keyword-rich title, HARD MAX 60 characters>\",',\n  '  \"seo_description\": \"<meta description, HARD MAX 160 characters, include primary keyword>\"',\n  '}',\n  '',\n  'RULES:',\n  '- pros and cons: 3 to 5 items each; each item max 120 characters.',\n  '- seo_title: truncate to 60 chars if needed — never exceed.',\n  '- seo_description: truncate to 160 chars if needed — never exceed.',\n  '- subcategory: use the exact spelling from the provided list when possible.',\n  '- Output the JSON object only.',\n].join('\\n');\n\nconst requestBody = {\n  model:       cfg.openrouterModel,\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user',   content: `${subcatSection}\\n\\nProduct details:\\n${productContext}` },\n  ],\n  temperature: 0.3,\n  max_tokens:  700,\n};\n\nconsole.log(JSON.stringify({ event: 'ai_enrichment_built', asin: norm.asin, subcatCount: subcatNames.length, ts: new Date().toISOString() }));\n\nreturn [{ json: { requestBody, normData: norm } }];\n"
      },
      "id": "n-build-ai",
      "name": "Build AI Enrichment Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8800,
        2384
      ],
      "notes": "NEW: Sends available subcategory names in prompt so AI picks an exact match. pros/cons requested as arrays, not strings."
    },
    {
      "parameters": {
        "amount": "={{ $('Config').first().json.aiRateLimitMs }}",
        "unit": "Seconds"
      },
      "id": "n-ai-ratelimit-enrich",
      "name": "AI Rate Limit (Enrichment)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -8700,
        2384
      ],
      "webhookId": "2cf9647d-1a3e-4b22-9b51-6d4c7e0f1a01",
      "notes": "v3: Proactively spaces OpenRouter requests by aiRateLimitSeconds (Config). Sits before the AI enrichment call. retryOnFail on the HTTP node still handles 429/transient errors reactively."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "={{ $('Config').first().json.openrouterReferer }}"
            },
            {
              "name": "X-Title",
              "value": "={{ $('Config').first().json.openrouterAppName }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "n-openrouter-ai",
      "name": "Call OpenRouter (AI Enrichment)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8600,
        2384
      ],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000,
      "credentials": {
        "openRouterApi": {
          "id": "openrouter-api",
          "name": "OpenRouter"
        }
      },
      "notes": "v3.3: Authorization injected by the predefined 'OpenRouter API' credential (paste API key only — n8n adds 'Bearer <key>'). You MUST create this credential and SELECT it on this node after import, else OpenRouter returns 401 'No auth credentials found' and pros/cons/seo come back empty. neverError:true captures 429/4xx bodies (now surfaced by Parse & Validate). 4 retries @ 3 s."
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────────────────────\n// Parse & Validate AI Fields  v2\n//\n// DB schema truth:\n//   pros         → text[]   (stored as jsonb array in payload, cast in upsert)\n//   cons         → text[]   (same)\n//   subcategory_id → uuid   (AI returns a name; we resolve to UUID here)\n//   seo_title    → text     (enforced ≤ 60 chars)\n//   seo_description → text  (enforced ≤ 160 chars)\n// ─────────────────────────────────────────────────────────────────────────────\nconst SEO_TITLE_MAX      = 60;\nconst SEO_DESC_MAX       = 160;\nconst ITEM_MAX           = 120;   // max chars per pros/cons bullet\nconst MIN_ITEMS          = 3;\nconst MAX_ITEMS          = 5;\n\nconst aiRes  = $input.first().json;\nconst req    = $('Build AI Enrichment Request').first().json;\nconst norm   = req.normData;\n\n// ── Subcategory lookup table (name → uuid) ────────────────────────────────────\nconst subcatRows = $('Fetch Subcategories').all().map(i => i.json);\nconst nameToSubcatId = new Map();\nfor (const r of subcatRows) {\n  if (r?.id && r?.name) nameToSubcatId.set(String(r.name).trim().toLowerCase(), r.id);\n}\n\nfunction resolveSubcatId(aiName) {\n  if (!aiName || typeof aiName !== 'string') return null;\n  const key = aiName.trim().toLowerCase();\n  // 1. Exact match (case-insensitive)\n  if (nameToSubcatId.has(key)) return nameToSubcatId.get(key);\n  // 2. Starts-with match (handles minor suffix differences)\n  for (const [k, id] of nameToSubcatId) {\n    if (k.startsWith(key) || key.startsWith(k)) return id;\n  }\n  // 3. Contains match as last resort\n  for (const [k, id] of nameToSubcatId) {\n    if (k.includes(key) || key.includes(k)) return id;\n  }\n  return null;   // no match → column stays null\n}\n\n// ── Rate-limit guard ──────────────────────────────────────────────────────────\nif (aiRes?.error?.code === 429 || aiRes?.statusCode === 429) {\n  console.warn(JSON.stringify({ event:'ai_rate_limited', asin: norm.asin, ts: new Date().toISOString() }));\n  return [{ json: { ...norm, _aiStatus: 'rate_limited' } }];\n}\n\n// ── HTTP / API error guard ────────────────────────────────────────────────────\n// neverError:true swallows non-2xx responses; surface them loudly instead of\n// silently emitting empty AI fields. A 401 here = the OpenRouter credential is\n// not selected on the 'Call OpenRouter (AI Enrichment)' node (see n8n/README.md).\nif (aiRes && aiRes.error) {\n  const code = aiRes.error.code ?? 'unknown';\n  console.warn(JSON.stringify({ event:'ai_http_error', asin: norm.asin, code, message: String(aiRes.error.message || '').slice(0,200), ts: new Date().toISOString() }));\n  return [{ json: { ...norm, _aiStatus: `http_error_${code}` } }];\n}\n\n// ── Extract raw content string ────────────────────────────────────────────────\nfunction getContent(r) {\n  const str = r?.choices?.[0]?.message?.content;\n  if (typeof str === 'string' && str.trim()) return str;\n  if (Array.isArray(str)) return str.filter(x=>x?.type==='text').map(x=>x.text).join('');\n  return r?.choices?.[0]?.text ?? null;\n}\n\n// ── Loose JSON parser ─────────────────────────────────────────────────────────\nfunction parseLoose(text) {\n  if (!text) return null;\n  try { return JSON.parse(text); } catch {}\n  const f = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (f) { try { return JSON.parse(f[1]); } catch {} }\n  const a = text.indexOf('{'), b = text.lastIndexOf('}');\n  if (a >= 0 && b > a) { try { return JSON.parse(text.slice(a, b+1)); } catch {} }\n  return null;\n}\n\n// ── Sanitise helpers ──────────────────────────────────────────────────────────\n// Remove ASCII control chars (except tab/newline), trim.\nconst sanitise = (s) => String(s || '').replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F]/g, '').trim();\nconst trunc    = (s, n) => sanitise(s).slice(0, n);\n\n// Validate + sanitise a text[] array field.\n// Returns an array of strings, clipped to [MIN_ITEMS..MAX_ITEMS] items.\nfunction normArray(arr) {\n  if (!Array.isArray(arr)) return [];\n  return arr\n    .map(x => trunc(String(x ?? ''), ITEM_MAX))\n    .filter(Boolean)\n    .slice(0, MAX_ITEMS);\n}\n\n// ── Parse response ────────────────────────────────────────────────────────────\nconst content = getContent(aiRes);\nconst parsed  = parseLoose(content);\n\nlet aiStatus        = 'success';\nlet subcategoryName = null;\nlet subcategory_id  = null;\nlet pros            = [];\nlet cons            = [];\nlet seo_title       = null;\nlet seo_description = null;\n\nif (!parsed) {\n  aiStatus = 'parse_failed';\n  console.warn(JSON.stringify({ event:'ai_parse_failed', asin: norm.asin, head: String(content||'').slice(0,300), ts: new Date().toISOString() }));\n} else {\n  // subcategory: resolve name → UUID\n  subcategoryName = sanitise(parsed.subcategory || '');\n  subcategory_id  = resolveSubcatId(subcategoryName) ?? null;\n  if (!subcategory_id && subcategoryName) aiStatus = 'subcategory_unresolved';\n\n  // pros / cons → text[] (stored as JSON arrays in payload, converted to pg text[] in upsert)\n  pros = normArray(parsed.pros);\n  cons = normArray(parsed.cons);\n  if (pros.length < MIN_ITEMS) aiStatus = aiStatus === 'success' ? 'partial_pros' : aiStatus;\n  if (cons.length < MIN_ITEMS) aiStatus = aiStatus === 'success' ? 'partial_cons' : aiStatus;\n\n  // seo fields\n  seo_title       = trunc(parsed.seo_title       || '', SEO_TITLE_MAX)  || null;\n  seo_description = trunc(parsed.seo_description || '', SEO_DESC_MAX)   || null;\n  if (!seo_title)       aiStatus = 'missing_seo_title';\n  if (!seo_description) aiStatus = aiStatus === 'success' ? 'missing_seo_description' : aiStatus;\n}\n\nconsole.log(JSON.stringify({\n  event:           'ai_enrichment_parsed',\n  asin:            norm.asin,\n  aiStatus,\n  subcategoryName,\n  subcategory_id,\n  seo_title_len:   seo_title?.length ?? 0,\n  seo_desc_len:    seo_description?.length ?? 0,\n  pros_count:      pros.length,\n  cons_count:      cons.length,\n  ts:              new Date().toISOString(),\n}));\n\nreturn [{\n  json: {\n    ...norm,\n    product: {\n      ...norm.product,\n      subcategory_id,    // uuid | null\n      pros,              // string[] (maps to text[] via jsonb_array_elements_text in upsert)\n      cons,              // string[] (same)\n      seo_title,         // string | null — max 60\n      seo_description,   // string | null — max 160\n    },\n    _aiStatus: aiStatus,\n  },\n}];\n"
      },
      "id": "n-parse-ai",
      "name": "Parse & Validate AI Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8400,
        2384
      ],
      "notes": "NEW: pros/cons returned as string[] (text[] compatible). subcategory_id resolved via 3-tier fuzzy match against Fetch Subcategories rows. seo_title ≤60, seo_description ≤160 hard-enforced."
    },
    {
      "parameters": {
        "jsCode": "// Bypass branch — AI fields already populated in DB; pass norm data unchanged.\nconst norm = $input.first().json;\nconsole.log(JSON.stringify({ event:'ai_skipped', asin: norm.asin, ts: new Date().toISOString() }));\nreturn [{ json: { ...norm, _aiStatus: 'skipped_already_populated' } }];\n"
      },
      "id": "n-ai-skip",
      "name": "AI Skip (already populated)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8800,
        2704
      ],
      "notes": "v3.2: False-branch of AI Fields Gate. Passes product through with existing DB values untouched (empty pros/cons/seo; the upsert's COALESCE/non-empty guards preserve DB values). Connects directly to Build Classifier Request."
    },
    {
      "parameters": {
        "jsCode": "// Build OpenRouter category classification request — unchanged from v1 logic.\nconst cfg = $('Config').first().json;\nconst categoriesRows = $('Fetch Categories').all().map(i => i.json);\nconst norm = $input.first().json;\n\nif (categoriesRows.length === 0) {\n  return [{ json: { skip: true, reason: 'no_categories_in_db', labelMap: [], normPassthrough: norm } }];\n}\n\nconst labelToId = new Map();\nconst lines = [];\nfor (const c of categoriesRows) {\n  if (!c?.id || !c?.name) continue;\n  let label = String(c.name).trim();\n  let suffix = 2;\n  while (labelToId.has(label)) label = `${c.name} #${suffix++}`;\n  labelToId.set(label, c.id);\n  const desc = c.description ? ` — ${String(c.description).slice(0,140)}` : '';\n  lines.push(`- ${label}${desc}`);\n}\n\nconst product = norm.product;\nconst productContext = [\n  `Title: ${product.title}`,\n  `Brand: ${product.brand}`,\n  product.short_description ? `Description: ${product.short_description}` : null,\n  product.tags?.length      ? `Tags: ${product.tags.slice(0,8).join(', ')}` : null,\n  product.features?.length  ? `Key features: ${product.features.slice(0,3).join('; ')}` : null,\n].filter(Boolean).join('\\n');\n\nconst systemPrompt = [\n  'You are a product categorization assistant for an affiliate deals website.',\n  'Given a product and a list of categories, return your TOP THREE most likely categories ranked by fit.',\n  'RESPOND WITH ONLY THIS JSON OBJECT — no prose, no code fences:',\n  '{\"rankings\":[{\"category\":\"<exact name from list>\",\"confidence\":<0.0-1.0>,\"reasoning\":\"<one short sentence>\"}]}',\n  'RULES:',\n  '- \"category\" MUST be copied verbatim from the list (text after \"- \", before any —).',\n  '- Up to 3 rankings, descending confidence. Minimum 1.',\n  '- If NO category fits return {\"rankings\":[]}.',\n  '- Output JSON only.',\n].join('\\n');\n\nconst requestBody = {\n  model:    cfg.openrouterModel,\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user',   content: `Available categories:\\n${lines.join('\\n')}\\n\\nProduct:\\n${productContext}` },\n  ],\n  temperature: 0,\n  max_tokens:  400,\n};\n\nreturn [{ json: { requestBody, labelMap: Array.from(labelToId.entries()), normPassthrough: norm } }];\n"
      },
      "id": "n-build-cls",
      "name": "Build Classifier Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8000,
        2544
      ]
    },
    {
      "parameters": {
        "amount": "={{ $('Config').first().json.aiRateLimitSeconds }}",
        "unit": "Seconds"
      },
      "id": "n-ai-ratelimit-classify",
      "name": "AI Rate Limit (Classifier)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -7900,
        2544
      ],
      "webhookId": "3da0758e-2b4f-4c33-a062-7e5d8f1a2b12",
      "notes": "v3: Proactively spaces the second OpenRouter request (category classifier) by aiRateLimitSeconds (Config)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "={{ $('Config').first().json.openrouterReferer }}"
            },
            {
              "name": "X-Title",
              "value": "={{ $('Config').first().json.openrouterAppName }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "n-openrouter",
      "name": "Call OpenRouter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7800,
        2544
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "openRouterApi": {
          "id": "openrouter-api",
          "name": "OpenRouter"
        }
      },
      "notes": "v3.3: Authorization injected by the predefined 'OpenRouter API' credential (same one as the enrichment node — select it here too). Category classifier call. On 401 it falls back to defaultCategoryId."
    },
    {
      "parameters": {
        "jsCode": "// Resolve OpenRouter classifier response → category_id uuid.\nconst cfg = $('Config').first().json;\nconst res = $input.first().json;\nconst req = $('Build Classifier Request').first().json;\nconst norm = req.normPassthrough;\n\nconst threshold = Number(cfg.classifierConfidenceThreshold) || 0.6;\nconst labelToId = new Map(Array.isArray(req?.labelMap) ? req.labelMap : []);\n\nfunction extractContent(r) {\n  if (!r || typeof r !== 'object') return { content: null, shape: `non-object:${typeof r}` };\n  const str = r?.choices?.[0]?.message?.content;\n  if (typeof str === 'string' && str.trim()) return { content: str, shape: 'string' };\n  if (Array.isArray(str)) {\n    const t = str.filter(x=>x?.type==='text').map(x=>x.text).join('');\n    if (t.trim()) return { content: t, shape: 'parts' };\n  }\n  const legacy = r?.choices?.[0]?.text;\n  if (typeof legacy === 'string' && legacy.trim()) return { content: legacy, shape: 'legacy' };\n  return { content: null, shape: `keys=[${Object.keys(r).join(',')}] err=${JSON.stringify(r?.error??null).slice(0,200)}` };\n}\n\nfunction parseLoose(text) {\n  if (typeof text !== 'string') return { value: null, how: 'no-text' };\n  try { return { value: JSON.parse(text), how: 'direct' }; } catch {}\n  const f = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (f) { try { return { value: JSON.parse(f[1]), how: 'fenced' }; } catch {} }\n  const a = text.indexOf('{'), b = text.lastIndexOf('}');\n  if (a >= 0 && b > a) { try { return { value: JSON.parse(text.slice(a, b+1)), how: 'substr' }; } catch {} }\n  return { value: null, how: 'failed' };\n}\n\nfunction resolve() {\n  if (res?.skip)  return { id: cfg.defaultCategoryId, status: `fallback_${res.reason}`,           confidence: 0, note: 'no categories' };\n  if (res?.error) return { id: cfg.defaultCategoryId, status: 'fallback_api_error',               confidence: 0, note: String(res.error?.message||'') };\n  const { content, shape } = extractContent(res);\n  if (!content)   return { id: cfg.defaultCategoryId, status: 'fallback_empty_response',          confidence: 0, note: shape };\n  const { value: parsed, how } = parseLoose(content);\n  if (!parsed)    return { id: cfg.defaultCategoryId, status: 'fallback_parse_error',             confidence: 0, note: `${how}: ${content.slice(0,120)}` };\n  const rankings = Array.isArray(parsed?.rankings) ? parsed.rankings : [];\n  if (!rankings.length) return { id: cfg.defaultCategoryId, status: 'fallback_no_rankings',      confidence: 0, note: `parse:${how}` };\n  const missed = [];\n  for (let i = 0; i < rankings.length; i++) {\n    const cand  = rankings[i];\n    const label = cand?.category ?? cand?.categoryId;\n    const conf  = Number(cand?.confidence);\n    if (!label || typeof label !== 'string') { missed.push(`r${i+1}:missing`); continue; }\n    const realId = labelToId.get(label.trim());\n    if (!realId) { missed.push(`r${i+1}:\"${label}\"`); continue; }\n    if (!Number.isFinite(conf) || conf < threshold) {\n      return { id: cfg.defaultCategoryId, status: 'fallback_low_confidence', confidence: conf||0, note: `\"${label}\" conf=${conf}<${threshold}` };\n    }\n    return { id: realId, status: i === 0 ? 'classified' : `fallback_rank_${i+1}`, confidence: conf, note: `\"${label}\"→${realId}` };\n  }\n  return { id: cfg.defaultCategoryId, status: 'fallback_hallucinated', confidence: 0, note: `all invalid:[${missed.join(',')}]` };\n}\n\nconst r = resolve();\nconsole.log(JSON.stringify({ event:'category_resolved', asin: norm.asin, status: r.status, confidence: r.confidence, note: r.note, ts: new Date().toISOString() }));\n\nreturn [{\n  json: {\n    ...norm,\n    product: { ...norm.product, category_id: r.id },\n    _classifier: { status: r.status, confidence: r.confidence, note: r.note },\n  },\n}];\n"
      },
      "id": "n-resolve",
      "name": "Resolve Category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7600,
        2544
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Resolve Category').first().json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 60000
        }
      },
      "id": "n-download",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7400,
        2544
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "bucketName": "={{ $('Config').first().json.s3Bucket }}",
        "fileName": "={{ $('Resolve Category').first().json.imageKey }}",
        "binaryData": true,
        "binaryPropertyName": "data",
        "additionalFields": {}
      },
      "id": "n-upload",
      "name": "Upload to S3",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -7100,
        2544
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "credentials": {
        "s3": {
          "id": "4everland-s3",
          "name": "4everland S3"
        }
      },
      "notes": "v3: REPLACES the hand-rolled SigV4 Code node + HTTP PUT pair. Uploads the downloaded image binary (property `data`) to the S3-compatible bucket using the '4everland S3' credential — endpoint (https://endpoint.4everland.co), region, access key, and secret key all live in n8n's credentials manager. Object key = Resolve Category.imageKey (e.g. products/amazon/<ASIN>/main.jpg). If 4everland rejects virtual-host addressing, enable 'Force Path Style' on the credential. Fallback documented in n8n/README.md if the native node can't reach the endpoint."
    },
    {
      "parameters": {
        "jsCode": "// Build Payload (eBay) — assembles the upsert JSON blob and the price-snapshot args.\nconst cfg = $('Config').first().json;\nconst resolved = $('Resolve Category').first().json;\nconst product = resolved.product;\n\nconst storedImage = { key: resolved.imageKey, alt: resolved.imageAlt, width: resolved.imageDim, height: resolved.imageDim };\nconst seo_og_image = { key: resolved.imageKey, alt: resolved.imageAlt, width: resolved.imageDim, height: resolved.imageDim };\n\nconst fullPayload = {\n  slug: product.slug,\n  title: product.title,\n  brand: product.brand,\n  short_description: product.short_description,\n  description: product.description,\n  category_id: product.category_id,\n  price: product.price,\n  original_price: product.original_price ?? null,\n  currency: product.currency,\n  discount_percent: product.discount_percent,\n  deal_label: product.deal_label ?? null,\n  affiliate_source: product.affiliate_source, // 'aliexpress'\n  amazon_affiliate_tag: product.amazon_affiliate_tag ?? null,\n  affiliate_url: product.affiliate_url,\n  seller: product.seller ?? null,\n  condition: product.condition ?? null,\n  rating: product.rating,\n  features: Array.isArray(product.features) ? product.features : [],\n  tags: Array.isArray(product.tags) ? product.tags : [],\n  pros: Array.isArray(product.pros) ? product.pros : [],\n  cons: Array.isArray(product.cons) ? product.cons : [],\n  images: [storedImage],\n  seo_og_image,\n  subcategory_id: product.subcategory_id ?? null,\n  seo_title: product.seo_title ?? null,\n  seo_description: product.seo_description ?? null,\n  expires_at: product.expires_at ?? null,\n};\n\nconsole.log(JSON.stringify({\n  event: 'payload_built',\n  asin: resolved.asin,\n  slug: product.slug,\n  affiliate_url: product.affiliate_url,\n  seller: product.seller ?? null,\n  condition: product.condition ?? null,\n  subcategory_id: product.subcategory_id ?? null,\n  seo_title_len: (product.seo_title || '').length,\n  seo_desc_len: (product.seo_description || '').length,\n  pros_count: (product.pros || []).length,\n  cons_count: (product.cons || []).length,\n  aiStatus: resolved._aiStatus || 'n/a',\n  classifier: resolved._classifier,\n  ts: new Date().toISOString(),\n}));\n\nreturn [{\n  json: {\n    payloadJson: JSON.stringify(fullPayload),\n    defaultCategoryId: cfg.defaultCategoryId,\n    // Price-snapshot args (read by Record Price Snapshot):\n    snapPrice: product.price,\n    snapOriginal: product.original_price ?? null,\n    snapCurrency: product.currency,\n    snapDiscount: product.discount_percent,\n    _classifier: resolved._classifier,\n    _aiStatus: resolved._aiStatus || 'n/a',\n  },\n}];\n"
      },
      "id": "n-payload",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6800,
        2544
      ],
      "notes": "Assembles the upsert blob (incl. AliExpress seller, condition, expires_at) and carries snapshot args (price/original/currency/discount) for Record Price Snapshot. All column names match the products table exactly."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Upsert Product (AliExpress). Single parameterised JSONB blob ($1) + defaultCategoryId ($2).\n-- Adds seller, \"condition\" (quoted — column name), expires_at to the Amazon mapping.\nWITH input AS (\n  SELECT * FROM jsonb_to_record($1::jsonb) AS r(\n    slug                 text,\n    title                text,\n    brand                text,\n    short_description    text,\n    description          text,\n    category_id          uuid,\n    price                numeric,\n    original_price       numeric,\n    currency             text,\n    discount_percent     int,\n    deal_label           text,\n    affiliate_source     text,\n    amazon_affiliate_tag text,\n    affiliate_url        text,\n    seller               text,\n    \"condition\"          text,\n    rating               real,\n    images               jsonb,\n    features             jsonb,\n    tags                 jsonb,\n    pros                 jsonb,\n    cons                 jsonb,\n    subcategory_id       uuid,\n    seo_title            text,\n    seo_description      text,\n    seo_og_image         jsonb,\n    expires_at           text\n  )\n)\nINSERT INTO products (\n  slug, title, brand, short_description, description,\n  category_id, price, original_price, currency, discount_percent,\n  deal_label, is_deal, affiliate_source, amazon_affiliate_tag, affiliate_url,\n  seller, \"condition\",\n  rating, images, features, tags, pros, cons,\n  subcategory_id, seo_title, seo_description, seo_og_image,\n  expires_at, published_at\n)\nSELECT\n  slug, title, brand, short_description, description,\n  category_id,\n  price::numeric(10,2),\n  original_price::numeric(10,2),\n  currency::public.currency,\n  discount_percent,\n  deal_label,\n  true,\n  affiliate_source::public.affiliate_source,\n  amazon_affiliate_tag,\n  affiliate_url,\n  seller,\n  \"condition\",\n  rating,\n  images,\n  ARRAY(SELECT jsonb_array_elements_text(features)) AS features,\n  ARRAY(SELECT jsonb_array_elements_text(tags))     AS tags,\n  ARRAY(SELECT jsonb_array_elements_text(pros))     AS pros,\n  ARRAY(SELECT jsonb_array_elements_text(cons))     AS cons,\n  subcategory_id,\n  left(seo_title, 60)        AS seo_title,\n  left(seo_description, 160) AS seo_description,\n  seo_og_image,\n  nullif(expires_at, '')::timestamptz AS expires_at,\n  NOW() AS published_at\nFROM input\nON CONFLICT (slug) DO UPDATE SET\n  title                = EXCLUDED.title,\n  brand                = EXCLUDED.brand,\n  short_description    = EXCLUDED.short_description,\n  description          = EXCLUDED.description,\n  price                = EXCLUDED.price,\n  original_price       = EXCLUDED.original_price,\n  currency             = EXCLUDED.currency,\n  discount_percent     = EXCLUDED.discount_percent,\n  deal_label           = EXCLUDED.deal_label,\n  is_deal              = true,\n  affiliate_source     = EXCLUDED.affiliate_source,\n  affiliate_url        = EXCLUDED.affiliate_url,\n  amazon_affiliate_tag = EXCLUDED.amazon_affiliate_tag,\n  seller               = EXCLUDED.seller,\n  \"condition\"          = EXCLUDED.\"condition\",\n  rating               = EXCLUDED.rating,\n  expires_at           = EXCLUDED.expires_at,\n  images               = CASE WHEN jsonb_array_length(EXCLUDED.images) > 0\n                               THEN EXCLUDED.images ELSE products.images END,\n  seo_og_image         = COALESCE(EXCLUDED.seo_og_image, products.seo_og_image),\n  features             = CASE WHEN array_length(EXCLUDED.features, 1) > 0\n                               THEN EXCLUDED.features ELSE products.features END,\n  tags                 = CASE WHEN array_length(EXCLUDED.tags, 1) > 0\n                               THEN EXCLUDED.tags ELSE products.tags END,\n  pros                 = CASE WHEN array_length(EXCLUDED.pros, 1) > 0\n                               THEN EXCLUDED.pros ELSE products.pros END,\n  cons                 = CASE WHEN array_length(EXCLUDED.cons, 1) > 0\n                               THEN EXCLUDED.cons ELSE products.cons END,\n  category_id          = CASE WHEN products.category_id = $2::uuid\n                               THEN EXCLUDED.category_id ELSE products.category_id END,\n  subcategory_id       = COALESCE(EXCLUDED.subcategory_id, products.subcategory_id),\n  seo_title            = COALESCE(EXCLUDED.seo_title, products.seo_title),\n  seo_description      = COALESCE(EXCLUDED.seo_description, products.seo_description),\n  updated_at           = NOW()\nRETURNING id, slug, (xmax = 0) AS was_inserted;",
        "options": {
          "queryReplacement": "={{ [$json.payloadJson, $json.defaultCategoryId] }}"
        }
      },
      "id": "n-upsert",
      "name": "Upsert Product",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -6600,
        2544
      ],
      "credentials": {
        "postgres": {
          "id": "Pp8DqRRvEdB44B6i",
          "name": "Every Offer DB"
        }
      },
      "notes": "INSERT … ON CONFLICT (slug). Includes seller, \"condition\" (quoted column), expires_at. affiliate_source cast accepts 'aliexpress'. COALESCE / non-empty guards preserve AI fields on skipped-AI re-runs."
    },
    {
      "parameters": {
        "jsCode": "// Audit Log — structured JSON per product for debugging / monitoring.\nconst upsert  = $input.first().json;\nconst payload = $('Build Payload').first().json;\n\nconst entry = {\n  event:        'product_upserted',\n  id:           upsert.id,\n  slug:         upsert.slug,\n  was_inserted: upsert.was_inserted,\n  ai_status:    payload._aiStatus,\n  classifier:   payload._classifier,\n  ts:           new Date().toISOString(),\n};\n\nconsole.log(JSON.stringify(entry));\nreturn [{ json: { ...upsert, _log: entry } }];\n"
      },
      "id": "n-log",
      "name": "Audit Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6400,
        2544
      ],
      "notes": "NEW: Structured audit log entry after every upsert. Extend to POST to a webhook / Datadog / Slack."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Record a price_snapshots row only on first sight or when price/discount changed,\n-- keyed by the product id returned from the upsert. alwaysOutputData keeps the loop alive\n-- when no row is inserted (0-row Postgres output would otherwise stall splitInBatches).\nWITH latest AS (\n  SELECT price, discount_percent FROM price_snapshots\n  WHERE product_sanity_id = $1::uuid ORDER BY captured_at DESC LIMIT 1\n)\nINSERT INTO price_snapshots (product_sanity_id, price, original_price, currency, discount_percent)\nSELECT $1::uuid, $2::numeric(10,2), $3::numeric(10,2), $4::text, $5::int\nWHERE NOT EXISTS (SELECT 1 FROM latest)\n   OR (SELECT price FROM latest) <> $2::numeric(10,2)\n   OR COALESCE((SELECT discount_percent FROM latest), -1) <> $5::int\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [$json.id, $('Build Payload').first().json.snapPrice, $('Build Payload').first().json.snapOriginal, $('Build Payload').first().json.snapCurrency, $('Build Payload').first().json.snapDiscount] }}"
        }
      },
      "id": "n-snapshot",
      "name": "Record Price Snapshot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -6200,
        2544
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Pp8DqRRvEdB44B6i",
          "name": "Every Offer DB"
        }
      },
      "notes": "Version tracking (#4): appends a price_snapshots row only when first seen or price/discount changed. alwaysOutputData:true so a no-insert (unchanged price) still emits an item and the loop continues to Throttle."
    },
    {
      "parameters": {
        "amount": "={{ $('Config').first().json.throttleSec }}"
      },
      "id": "n-throttle",
      "name": "Throttle",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -6000,
        2544
      ],
      "webhookId": "1da853bc-b62b-452d-be6e-2ba8feaf445d",
      "notes": "Configurable gap between ASIN iterations → back to Loop Over Items."
    },
    {
      "parameters": {},
      "id": "n-error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -11400,
        2900
      ],
      "notes": "Fires when an execution of this workflow fails. In n8n Settings → set this workflow as its own 'Error Workflow' (or assign it globally) so unhandled failures (token error, 0 deals discovered, upsert/S3 failure after retries) reach Send Alert."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/REPLACE/WITH/YOUR/WEBHOOK",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const e=$json||{}; const wf=(e.workflow&&e.workflow.name)||'AliExpress Deals → Postgres'; const ex=e.execution||{}; const node=ex.lastNodeExecuted||'unknown'; const msg=(ex.error&&ex.error.message)||'unknown error'; const text='🚨 ' + wf + ' failed at node \"' + node + '\": ' + msg; return JSON.stringify({ text, content: text, executionId: ex.id||null, ts: new Date().toISOString() }); })() }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "n-send-alert",
      "name": "Send Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -11200,
        2900
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "notes": "Critical-failure alert (#5). PASTE your Slack/Discord/generic webhook URL above — the Error Trigger runs in a separate execution where $('Config') and $env are unavailable, so the URL can't be read from Config. Body sends both 'text' (Slack) and 'content' (Discord). neverError so the alert never masks the original failure."
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────────────────────\n// Search AliExpress Hot Products — signed aliexpress.affiliate.hotproduct.query.\n// Replaces the eBay OAuth + Browse search + Extract Items trio. Discovers active hot\n// deals, dedups by product_id, caps at maxDealsPerRun, and emits one item per product\n// for Loop Over Items. The hotproduct.query summary already carries title / prices /\n// promotion_link / image, so Fetch Product Detail only enriches it.\n// ─────────────────────────────────────────────────────────────────────────────\nlet nodeCrypto;\ntry {\n  nodeCrypto = require('crypto');\n} catch (e) {\n  throw new Error('Code node cannot require(\"crypto\") — set NODE_FUNCTION_ALLOW_BUILTIN=crypto (or *) in the n8n environment and restart. It is required to sign AliExpress API requests.');\n}\n\nconst cfg = $('Config').first().json;\nconst gateway = String(cfg.aliGatewayUrl || 'https://api-sg.aliexpress.com/sync').trim();\nconst appKey = String(cfg.aliAppKey || '').trim();\nconst appSecret = String(cfg.aliAppSecret || '').trim();\nconst trackingId = String(cfg.aliTrackingId || '').trim();\nconst signMethod = (String(cfg.aliSignMethod || 'sha256').toLowerCase() === 'md5') ? 'md5' : 'sha256';\nconst maxDeals = Math.max(1, Number(cfg.maxDealsPerRun) || 5);\nconst pageSize = Math.max(maxDeals, Math.min(50, Number(cfg.aliPageSize) || 50));\n\nif (!appKey || !appSecret) {\n  throw new Error('AliExpress config missing: set aliAppKey + aliAppSecret in the Config node.');\n}\nif (!trackingId) {\n  console.warn(JSON.stringify({ event: 'ali_no_tracking_id', note: 'aliTrackingId empty → promotion_link will be missing; affiliate_url falls back to product_detail_url', ts: new Date().toISOString() }));\n}\n\n// timestamp: epoch-ms for the api-sg .../sync gateway (default), or \"yyyy-MM-dd HH:mm:ss\"\n// in GMT+8 for the legacy gw.api.taobao.com/router/rest gateway (set aliTimestampFormat=datetime).\nfunction tsStr() {\n  if (String(cfg.aliTimestampFormat || 'ms').toLowerCase() === 'datetime') {\n    const t = new Date(Date.now() + 8 * 3600 * 1000);\n    const z = (n) => String(n).padStart(2, '0');\n    return t.getUTCFullYear() + '-' + z(t.getUTCMonth() + 1) + '-' + z(t.getUTCDate()) + ' ' + z(t.getUTCHours()) + ':' + z(t.getUTCMinutes()) + ':' + z(t.getUTCSeconds());\n  }\n  return String(Date.now());\n}\n\n// TOP/IOP signing: sort params by key, concatenate key+value (raw, un-encoded).\n//   md5    → MD5(secret + concat + secret), uppercase hex\n//   sha256 → HMAC-SHA256(concat) keyed by secret, uppercase hex\nfunction sign(params, secret, method) {\n  const concat = Object.keys(params).sort().map((k) => k + params[k]).join('');\n  if (method === 'md5') {\n    return nodeCrypto.createHash('md5').update(secret + concat + secret, 'utf8').digest('hex').toUpperCase();\n  }\n  return nodeCrypto.createHmac('sha256', secret).update(concat, 'utf8').digest('hex').toUpperCase();\n}\n\nconst params = {\n  method: 'aliexpress.affiliate.hotproduct.query',\n  app_key: appKey,\n  sign_method: signMethod,\n  timestamp: tsStr(),\n  format: 'json',\n  v: String(cfg.aliApiVersion || '2.0'),\n  simplify: 'true',\n  page_no: '1',\n  page_size: String(pageSize),\n  target_currency: String(cfg.aliTargetCurrency || 'USD'),\n  target_language: String(cfg.aliTargetLanguage || 'EN'),\n  ship_to_country: String(cfg.aliShipToCountry || 'US'),\n};\nif (trackingId) params.tracking_id = trackingId;\nif (cfg.aliCategoryIds) params.category_ids = String(cfg.aliCategoryIds);\nif (cfg.aliKeywords) params.keywords = String(cfg.aliKeywords);\nif (cfg.aliSort) params.sort = String(cfg.aliSort);\n\nparams.sign = sign(params, appSecret, signMethod);\n\n// Sign over RAW values; send URL-encoded values (the gateway decodes before verifying).\nconst body = Object.keys(params).map((k) => encodeURIComponent(k) + '=' + encodeURIComponent(params[k])).join('&');\n\nconst tip = ' Tips: a signature error (\"IncompleteSignature\"/\"Sign check\"/\"Invalid signature\") → try aliSignMethod=md5 or aliTimestampFormat=datetime, and re-check aliAppKey/aliAppSecret; a permission error → aliexpress.affiliate.hotproduct.query needs extra approval (fallback: aliexpress.affiliate.product.query).';\n\nlet resp;\ntry {\n  resp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: gateway,\n    headers: { 'Content-Type': 'application/x-www-form-urlencoded', 'Accept': 'application/json' },\n    body,\n    returnFullResponse: true,\n    timeout: 120000,\n  });\n} catch (err) {\n  const r = (err && err.response) || {};\n  const b = (r.data !== undefined) ? r.data : (r.body !== undefined ? r.body : (err.message || String(err)));\n  throw new Error('AliExpress hotproduct.query HTTP failure: ' + (typeof b === 'string' ? b : JSON.stringify(b)).slice(0, 300));\n}\n\nlet data = resp.body;\nif (typeof data === 'string') { try { data = JSON.parse(data); } catch (e) { data = {}; } }\n\n// TOP error envelope\nif (data && data.error_response) {\n  const e = data.error_response;\n  throw new Error('AliExpress API error ' + (e.code || '') + '/' + (e.sub_code || '') + ': ' + String(e.sub_msg || e.msg || JSON.stringify(e)).slice(0, 300) + '.' + tip);\n}\n// IOP error envelope\nif (data && data.code !== undefined && String(data.code) !== '0' && (data.message || data.type)) {\n  throw new Error('AliExpress IOP error ' + data.code + ': ' + String(data.message || data.type).slice(0, 300) + '.' + tip);\n}\n\n// Locate resp_result / result anywhere in the (possibly simplified) envelope.\nfunction deepFind(o, key) {\n  if (!o || typeof o !== 'object') return undefined;\n  if (Object.prototype.hasOwnProperty.call(o, key)) return o[key];\n  for (const k of Object.keys(o)) {\n    const v = deepFind(o[k], key);\n    if (v !== undefined) return v;\n  }\n  return undefined;\n}\n\nconst respResult = deepFind(data, 'resp_result');\nif (respResult && respResult.resp_code != null && Number(respResult.resp_code) !== 200) {\n  throw new Error('AliExpress resp_result ' + respResult.resp_code + ': ' + String(respResult.resp_msg || '').slice(0, 200) + '.' + tip);\n}\n\nconst result = (respResult && respResult.result) || deepFind(data, 'result') || {};\nlet products = result.products;\nif (products && products.product) products = products.product;\nif (!Array.isArray(products)) products = products ? [products] : [];\nif (products.length === 0) {\n  throw new Error('No products returned by hotproduct.query. Check aliCategoryIds/aliKeywords/aliSort, aliTrackingId, and that the app has hotproduct.query permission.');\n}\n\nconst seen = new Set();\nconst items = [];\nfor (const prod of products) {\n  const id = prod && (prod.product_id != null ? String(prod.product_id) : null);\n  if (!id || seen.has(id)) continue;\n  seen.add(id);\n  items.push({ json: { product_id: id, summary: prod } });\n  if (items.length >= maxDeals) break;\n}\nif (items.length === 0) throw new Error('No usable product_ids extracted from hotproduct.query results.');\n\nconsole.log(JSON.stringify({ event: 'ali_search', total: products.length, selected: items.length, ts: new Date().toISOString() }));\n\nreturn items;\n"
      },
      "id": "n-ali-search",
      "name": "Search AliExpress Hot Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10600,
        2384
      ],
      "notes": "Signed aliexpress.affiliate.hotproduct.query (replaces eBay OAuth + Browse search + Extract Items). Signs in-node with crypto (requires NODE_FUNCTION_ALLOW_BUILTIN=crypto), dedups by product_id, caps at maxDealsPerRun, throws (→ Error Trigger → Send Alert) on signature/permission/empty-result failures. The summary already carries promotion_link/price/image."
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────────────────────\n// Fetch Product Detail — signed aliexpress.affiliate.productdetail.get for the\n// current loop product. Enriches the hotproduct.query summary with the full product\n// object (richer image/category/price fields). SOFT-FAILS to the summary alone if the\n// detail call errors, so a single bad detail call never stalls the loop.\n// Replaces the eBay \"Fetch Item Detail\" HTTP node.\n// ─────────────────────────────────────────────────────────────────────────────\nlet nodeCrypto;\ntry {\n  nodeCrypto = require('crypto');\n} catch (e) {\n  throw new Error('Code node cannot require(\"crypto\") — set NODE_FUNCTION_ALLOW_BUILTIN=crypto (or *) in the n8n environment and restart. It is required to sign AliExpress API requests.');\n}\n\nconst cfg = $('Config').first().json;\nconst item = $input.first().json; // { product_id, summary } from Loop Over Items\nconst productId = String(item.product_id || '');\nconst summary = item.summary || {};\nif (!productId) throw new Error('Fetch Product Detail: missing product_id from the loop item.');\n\nconst gateway = String(cfg.aliGatewayUrl || 'https://api-sg.aliexpress.com/sync').trim();\nconst appKey = String(cfg.aliAppKey || '').trim();\nconst appSecret = String(cfg.aliAppSecret || '').trim();\nconst trackingId = String(cfg.aliTrackingId || '').trim();\nconst signMethod = (String(cfg.aliSignMethod || 'sha256').toLowerCase() === 'md5') ? 'md5' : 'sha256';\n\nfunction tsStr() {\n  if (String(cfg.aliTimestampFormat || 'ms').toLowerCase() === 'datetime') {\n    const t = new Date(Date.now() + 8 * 3600 * 1000);\n    const z = (n) => String(n).padStart(2, '0');\n    return t.getUTCFullYear() + '-' + z(t.getUTCMonth() + 1) + '-' + z(t.getUTCDate()) + ' ' + z(t.getUTCHours()) + ':' + z(t.getUTCMinutes()) + ':' + z(t.getUTCSeconds());\n  }\n  return String(Date.now());\n}\n\nfunction sign(params, secret, method) {\n  const concat = Object.keys(params).sort().map((k) => k + params[k]).join('');\n  if (method === 'md5') {\n    return nodeCrypto.createHash('md5').update(secret + concat + secret, 'utf8').digest('hex').toUpperCase();\n  }\n  return nodeCrypto.createHmac('sha256', secret).update(concat, 'utf8').digest('hex').toUpperCase();\n}\n\nfunction deepFind(o, key) {\n  if (!o || typeof o !== 'object') return undefined;\n  if (Object.prototype.hasOwnProperty.call(o, key)) return o[key];\n  for (const k of Object.keys(o)) {\n    const v = deepFind(o[k], key);\n    if (v !== undefined) return v;\n  }\n  return undefined;\n}\n\nconst params = {\n  method: 'aliexpress.affiliate.productdetail.get',\n  app_key: appKey,\n  sign_method: signMethod,\n  timestamp: tsStr(),\n  format: 'json',\n  v: String(cfg.aliApiVersion || '2.0'),\n  simplify: 'true',\n  product_ids: productId,\n  target_currency: String(cfg.aliTargetCurrency || 'USD'),\n  target_language: String(cfg.aliTargetLanguage || 'EN'),\n  ship_to_country: String(cfg.aliShipToCountry || 'US'),\n};\nif (trackingId) params.tracking_id = trackingId;\nparams.sign = sign(params, appSecret, signMethod);\nconst body = Object.keys(params).map((k) => encodeURIComponent(k) + '=' + encodeURIComponent(params[k])).join('&');\n\nlet detail = null;\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: gateway,\n    headers: { 'Content-Type': 'application/x-www-form-urlencoded', 'Accept': 'application/json' },\n    body,\n    returnFullResponse: true,\n    timeout: 120000,\n  });\n  let data = resp.body;\n  if (typeof data === 'string') { try { data = JSON.parse(data); } catch (e) { data = {}; } }\n  if (data && data.error_response) {\n    const e = data.error_response;\n    console.warn(JSON.stringify({ event: 'ali_detail_error', asin: productId, code: e.code, sub: e.sub_msg || e.sub_code, ts: new Date().toISOString() }));\n  } else if (data && data.code !== undefined && String(data.code) !== '0' && (data.message || data.type)) {\n    console.warn(JSON.stringify({ event: 'ali_detail_error', asin: productId, code: data.code, sub: String(data.message || data.type).slice(0, 160), ts: new Date().toISOString() }));\n  } else {\n    const result = deepFind(data, 'result') || {};\n    let prods = result.products;\n    if (prods && prods.product) prods = prods.product;\n    if (!Array.isArray(prods)) prods = prods ? [prods] : [];\n    detail = prods[0] || null;\n  }\n} catch (err) {\n  console.warn(JSON.stringify({ event: 'ali_detail_fallback', asin: productId, note: String((err && err.message) || err).slice(0, 200), ts: new Date().toISOString() }));\n}\n\n// Merge: detail overrides summary where present; summary guarantees the core fields.\nconst p = Object.assign({}, summary, detail || {});\n\nconsole.log(JSON.stringify({ event: 'ali_detail', asin: productId, enriched: !!detail, ts: new Date().toISOString() }));\n\nreturn [{ json: { product_id: productId, p } }];\n"
      },
      "id": "n-ali-detail",
      "name": "Fetch Product Detail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10000,
        2544
      ],
      "notes": "Signed aliexpress.affiliate.productdetail.get for the current product (replaces eBay Fetch Item Detail). SOFT-FAILS to the hotproduct.query summary if the detail call errors, so the loop never stalls."
    }
  ],
  "connections": {
    "Every 6 hours": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Fetch Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Categories": {
      "main": [
        [
          {
            "node": "Fetch Subcategories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Subcategories": {
      "main": [
        [
          {
            "node": "Search AliExpress Hot Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Fetch Product Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalise": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Check Existing AI Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Skipped Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Skipped Item": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing AI Fields": {
      "main": [
        [
          {
            "node": "Compute AI Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute AI Gate": {
      "main": [
        [
          {
            "node": "AI Fields Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Fields Gate": {
      "main": [
        [
          {
            "node": "Build AI Enrichment Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Skip (already populated)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Enrichment Request": {
      "main": [
        [
          {
            "node": "AI Rate Limit (Enrichment)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Rate Limit (Enrichment)": {
      "main": [
        [
          {
            "node": "Call OpenRouter (AI Enrichment)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenRouter (AI Enrichment)": {
      "main": [
        [
          {
            "node": "Parse & Validate AI Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate AI Fields": {
      "main": [
        [
          {
            "node": "Build Classifier Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Skip (already populated)": {
      "main": [
        [
          {
            "node": "Build Classifier Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Classifier Request": {
      "main": [
        [
          {
            "node": "AI Rate Limit (Classifier)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Rate Limit (Classifier)": {
      "main": [
        [
          {
            "node": "Call OpenRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenRouter": {
      "main": [
        [
          {
            "node": "Resolve Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Category": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Upload to S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to S3": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Upsert Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Product": {
      "main": [
        [
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Log": {
      "main": [
        [
          {
            "node": "Record Price Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Price Snapshot": {
      "main": [
        [
          {
            "node": "Throttle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Throttle": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search AliExpress Hot Products": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Product Detail": {
      "main": [
        [
          {
            "node": "Normalise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
